{% extends 'yatracker/base.html' %}
{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                {% for project in projects %}
                    <!-- displayed project-->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                        <span>
                            {% block project %}
                            {% endblock %}
                        </span>
                        </div>
                    </div>
                {% endfor %}
                <!---->

            </div>
        </div>
    </div>
{% endblock %}

