{% extends 'yatracker/base.html' %}
{% block title %}
    Project modification
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post">
                <div class="form-group">
                    <label for="project_name"> Project title </label>
                    <input type="text" class="form-control" id="project_name" value={{ project.title }}>
                </div>
                <div class="form-group">
                    <label for="project_description"> Project description </label>
                    <textarea class="form-control" rows="3" id="project_description" value={{ project.description }}></textarea>
                </div>
                Project participants
                <br>
                <div class="form-check">
                    {% for participant in participants %}
                        <input type="checkbox" class="form-check-input" id="id_{{ participant.id }}" name="to_leave"
                               value="id" checked>
                        <label class = "form-check-label">{{ participant.name }} {{ participant.surname }}</label>
                    {% endfor %}
                </div>
                <div class="form-check">
                    {% for participant in non_participants %}
                        <input type="checkbox" class="form-check-input" id="id_{{ participant.id }}" name="to_leave"
                               value="id">
                        <label class="form-check-control"> {{ participant.name }} {{ participant.surname }}</label>
                    {% endfor %}
                </div>
                <br>
                <button type="submit" class="btn btn-primary" value="Submit">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}
