{% extends 'yatracker/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/project_manager.css' %}">
{% block content %}
    <div class="container">
        <br>
        <div class="shadow p-3 mb-5 bg-white rounded">

                <h1>{{ project.title }}
                    {% if project.instructor.id == user.id %}
                        <a href="{% url 'modify_project' project.id %}" class="btn btn-success btn-green">Edit</a>
                    {% endif %}
                    <a href="{% url 'stats_project' project.id %}" class="btn btn-success btn-green">Statistics</a>
                </h1>

            <p class="card-text">{{ project.description }}</p>
        </div>
    </div>

    <div class="container" style="text-align: center;">
        {#        <div class="shadow p-3 mb-5 bg-white rounded">#}
        {#            <br>#}
        <div class="row">
            <div class="col-sm"><b>Todo:</b></div>
            <div class="col-sm"><b>In progress:</b></div>
            <div class="col-sm"><b>Done:</b></div>
            <div class="col-sm"><b>Add a new task:</b></div>
        </div>
        <br>
        {#        </div>#}
    </div>

    <div class="container">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-sm">
                    {% for task in project.tasks.all %}
                        {% if task.status == 'todo' %}
                            <span> {% include 'project_manager/task_card_template.html' %} </span> <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <div class="col-sm">
                    {% for task in project.tasks.all %}
                        {% if task.status == 'prog' or task.status == 'paus' %}
                            <span> {% include 'project_manager/task_card_template.html' %} </span> <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <div class="col-sm">
                    {% for task in project.tasks.all %}
                        {% if task.status == 'done' %}
                            <span> {% include 'project_manager/task_card_template.html' %} </span> <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <br>

                <div class="col-sm">
                    <div class="card">
                        <div class="shadow bg-white rounded">
                            <div class="card-body">
                                <form method="post" action="{{ project.get_absolute_url }}">
                                    {% csrf_token %}
                                    <div class="card-title">
                                        {#                            Add a new task title#}
                                        <span> <label class="sr-only" for="inlineFormInputGroup">Title</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Title</div>
                                        </div>
                                        <input type="text" class="form-control" name="title" id="inlineFormInputGroup" maxlength="128"
                                               placeholder="Task title here">
                                    </div></span>
                                        {#                            Add description#}
                                    <span>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Info</span>
                                        </div>
                                        <textarea class="form-control" name="info" aria-label="With textarea" maxlength="256"
                                                  placeholder="Your description here"></textarea>
                                    </div>
                                    </span>
                                    <br>
                                        {#                            button Add#}
                                        <span><button type="submit" class="btn btn-sm btn-success btn-green">Add</button></span><br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="shadow bg-white rounded">
                        {#            known info about the project#}
                        <div class="card" style="padding: 10%">
                            <div class="container" style="background-color: #e9ecef">
                                Project instructor:
                            </div>

                            <ul class="list-group list-group-flush">
                                <a href="#" class="btn btn-sm btn-light btn-white" role="button"
                                   aria-pressed="true">{{ project.instructor.name }} {{ project.instructor.surname }}</a>
                            </ul>

                            <div class="container" style="background-color: #e9ecef">
                                Project members:
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for student in project.students.all %}
                                    <a href="#" class="btn btn-sm btn-light btn-white" role="button"
                                       aria-pressed="true">{{ student.name }} {{ student.surname }}</a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
