<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ task.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ task.get_status_display }}</h6>
        <p class="card-text">{{ task.description }}</p>

        {% if task.status == "todo" %}
            <a href="{{ task.get_started_url }}" class="btn btn-primary">Start</a>
        {% elif task.status == "prog" %}
            <a href="{{ task.get_paused_url }}" class="btn btn-primary">Pause</a>
            <a href="{{ task.get_done_url }}" class="btn btn-primary">Finish</a>
        {% elif task.status == "paus" %}
            <a href="{{ task.get_started_url }}" class="btn btn-primary">Start</a>
            <a href="{{ task.get_done_url }}" class="btn btn-primary">Finish</a>
        {% else %}
            <button type="button" class="btn btn-secondary" disabled>Done</button>
        {% endif %}

    </div>
</div>
