{% extends 'yatracker/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                   href="#list-home" role="tab" aria-controls="home">Profile info</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                   href="#list-profile" role="tab" aria-controls="profile">Projects</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   href="#list-messages" role="tab" aria-controls="messages">Edit profile</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <button type="button" class="list-group-item list-group-item-action">
                        {{ user.name }}
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">{{ user.surname }}
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">{{ user.email }}</button>
                    <button type="button"
                            class="list-group-item list-group-item-action">{{ user.get_user_type_display }}
                    </button>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <ul class="list-group">
                        {% for project in user.projects.all %}
                            <li class="list-group-item">{{ project.title }}</li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...
                </div>
            </div>
        </div>
    </div>
{% endblock %}
